# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist-electron/
release/
# Compiled binaries
entropy
entropy.exe
entropy-cli-test
entropy-cli-test.exe
entropy-cli
entropy-cli.exe
bin/
